<app-header></app-header>
<div class="container p-2">
  <div class="flex-container">
    <div class="float-left">
      <h4>Veículos</h4>
    </div>
    <div class="btns-header">
      <button type="button" (click)="paginaInicial()" class="p-button-info" pButton icon="pi pi-info-circle"
        label="Voltar"></button>
      {{ '' }}
    </div>
  </div>
  <form class="p-fluid form-group" [formGroup]="form" (ngSubmit)="editaVeiculo()">

    <div class="grupo form-group">
      <label for="nomeVeiculo">Nome Veiculo</label>
      <input class="form-control" id="nomeVeiculo" type="string" formControlName="nomeVeiculo" name="nomeVeiculo"
             required [ngClass]="{'is-invalid': submitted && hasError('nomeVeiculo')}">
      <small class="invalid-feedback" *ngIf="hasError('nomeVeiculo') && hasError('nomeVeiculo')!['required']">
        O Campo Nome Veiculo precisa ser preenchido
      </small>
      <small class="invalid-feedback" *ngIf="hasError('nomeVeiculo') && hasError('nomeVeiculo')!['minlength']">
        O Campo Nome Veiculo precisa ter no mínino {{ hasError('nomeVeiculo')!['minlength'].requiredLength }} caracteres.
      </small>
      <small class="invalid-feedback" *ngIf="hasError('nomeVeiculo') && hasError('nomeVeiculo')!['maxlength']">
        O Campo Nome Veiculo deve ter no máximo {{ hasError('nomeVeiculo')!['maxlength'].requiredLength }} caracteres.
      </small>
    </div>

    <div class="input-group mt-2">
      <div class="input-group-prepend" >
        <label class="input-group-text" for="marca">Marca</label>
      </div>
      <select
          class="custom-select" id="marca"
          formControlName="marca" name="marca"
          required [ngClass]="{'is-invalid': submitted && hasError('marca')}">
        <option *ngFor="let marca of marcas">{{marca}}<option>
      </select>
      <small class="invalid-feedback" *ngIf="hasError('marca') && hasError('marca')!['required']">
        O campo Marca precisa ser preenchido
    </small>
    </div>

    <div class="grupo form-group">
      <label for="ano">Ano Fabricação</label>
      <input class="form-control" id="ano" type="number" formControlName="ano" name="ano"
        required [ngClass]="{'is-invalid': submitted && hasError('ano')}">
        <small class="invalid-feedback" *ngIf="hasError('ano') && hasError('ano')!['required']">
              A campo Ano precisa ser preenchido
        </small>
    </div>

    <div class="grupo form-group">
      <label for="cor">Cor</label>
      <input class="form-control" id="cor" type="string" formControlName="cor" name="cor"
             required [ngClass]="{'is-invalid': submitted && hasError('cor')}">
      <small class="invalid-feedback" *ngIf="hasError('cor') && hasError('cor')!['required']">
          O campo cor precisa ser preenchido
        </small>
        <small class="invalid-feedback" *ngIf="hasError('cor') && hasError('cor')!['minlength']">
          O campo cor precisa ter no mínino {{ hasError('cor')!['minlength'].requiredLength }} caracteres.
        </small>
  </div>

  <div class="input-group mt-2">
    <div class="input-group-prepend" >
      <label class="input-group-text" for="inputGroupSelect01">Vendido?</label>
    </div>
    <select
          class="custom-select" id="inputGroupSelect01"
          formControlName="vendido" name="vendido"
          required [ngClass]="{'is-invalid': submitted && hasError('vendido')}">
      <option selected value="false">NÃO</option>
      <option value="true">SIM</option>
    </select>
    <small class="invalid-feedback" *ngIf="hasError('vendido') && hasError('vendido')!['required']">
      O status precisa ser preenchido
  </small>
  </div>
    <div class="buttons">
      <button type="submit" class="btn btn-outline-primary mt-2 mr-2">Atualizar</button>
      <button type="button" class="btn btn-outline-warning mt-2" (click)="paginaInicial()">Cancelar</button>
    </div>
  </form>
</div>

<p-toast [style]="{marginTop: '0px'}"></p-toast>
